.wrapper {
    width: 100%;
    margin: 0 auto;
  }  
  .rang {
    text-align: center;
    background: transparent;
  }  
  
  .rang-number {
    width: 100%;
    text-align: center;
    border-width: 0;
    font-size: 50px;
    font-weight: 900;
    background-color: #faf9f7;
    color: #0093d7;
  }
  
  .rang-slider[type=range] {
    width: 100%;
    margin-top: 20px;
    -webkit-appearance: none;
  }
  
  
  .rang-slider[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    border-radius: 25px;
    background: #0093d7;
    cursor: pointer;
  }
  
  .rang-slider[type=range]::-webkit-slider-thumb {
    width: 10%;
    height: 20px;
    margin-top: 0;
    border-radius: 25px;
    background: #ffc815;
    -webkit-appearance: none;
    cursor: pointer;
  }
  
  
  .meter-left {
    -webkit-transform: skewX(-2deg) skewY(1deg);
            transform: skewX(-2deg) skewY(1deg);
    stroke-width: 50;
    stroke-dashoffset: 253;
    stroke-dasharray: 120 400;
    stroke: #ffc815;
    fill: none;
  }
  
  .meter-center {
    stroke-width: 56;
    stroke-dashoffset: 128;
    stroke-dasharray: 120 400;
    stroke: #a3cd3b;
    fill: none;
    width: 100%
  }
  
  .meter-right {
    -webkit-transform: skewX(2deg) skewY(1deg);
            transform: skewX(2deg) skewY(1deg);
    stroke-width: 58;
    stroke-dashoffset: 5;
    stroke-dasharray: 120 400;
    stroke: #0093d7;
    fill: none;
  }
  
  .meter-clock {
    -webkit-transform: rotate(-54deg);
            transform: rotate(-54deg);
    -webkit-transform-origin: 137px 146px;
            transform-origin: 137px 146px;
    fill: black;
  }
  
  .meter-circle {
    fill: black;
  }
  